.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 92%;
}

.table > header {
    width: 100%;
}
.table > main {
    width: 100%;
    overflow: auto;
}

.table > main::-webkit-scrollbar {
    width: 2%;
    
}

.table > main::-webkit-scrollbar-track {
    background: rgb(81, 116, 61);
}

.table > main::-webkit-scrollbar-thumb {
    background: rgba(58, 83, 44, 0.904);
    border-radius: 5px;
}

.table > header > article, 
.table > main > article {
    display: flex;
    width: 100%;
    min-height: 30px;
    transition: background-color .2s linear;
} 

.table > header > article:hover, 
.table > main > article:hover {
    background-color: rgb(212, 212, 94);
}

.table > header > article > div,
.table > main > article > div {
    width: 91%;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    border-left: solid 1px rgba(0, 0, 0, 0.1); 
}

.table > header > article > span,
.table > main > article > span {
    width: 9%;
    border-left:  none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.table > header > article > span:last-child {
    width: 2%;
    border: none;
}