.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  width: 80vw;
  height: 80vh;
  max-width: 80vh;
  max-height: 80vh;
  background: rgba(81, 116, 61, 0.904);
  box-shadow: 0 2px 10px rgba(225, 225, 225, .2);
  padding: 2%
}