.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weekHeader {
  display: flex;
  flex-direction: row;
}

.item {
  display: flex;
  justify-content: center;
  width: 14.28%;
  margin: 7px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.day {
  flex-basis: auto;
  display: flex;
  justify-content: flex-end;

  position: relative;
  width: 14.28%;
  padding-bottom: 14.28%;
}

.day .today {
  background-color: rgb(212, 212, 94);;
}

.day > span {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px transparent;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color .2s linear;

  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

.day > span:hover {
  background-color: rgb(212, 212, 94);
}

